.invalidMsg {
  color: red;
}

.productDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  height: 400px;
  font-size: 1rem;
  padding: 10px;
  margin: 10px 0;
}

.productImg {
  width: 200px;
  height: 200px;
  margin: 10px;
}

.lowerDiv {
  display: flex;
  flex-direction: column;
  justify-self: bottom;
  margin: 5px;
  gap: 10px;
}

.price {
  margin: 5px;
}

.atcBtn {
  background-color: rgb(42, 62, 189);
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 1.05rem;
  margin: 5px;
  width: 140px;
}

.inCart {
  color: rgb(42, 62, 189);
  font-weight: 600;
  font-size: 1.1rem;
  margin: 5px;
}

.quantityDiv {
  display: flex;
  justify-content: center;
}

.plusMinus {
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.plusMinus button {
  height: 100%;
  width: 100%;
  background-color: rgb(241, 241, 241);
  text-align: center;
}

.quantityInput {
  display: flex;
  align-items: center;
}

.quantityInput input {
  border: none;
  background-color: none;
  text-align: center;
  font-size: 1.05rem;
  width: 75px;
}

input:focus {
  outline: none;
}

.disabled {
  pointer-events: none;
  color: rgb(203, 203, 203);
}
