.navbar {
  background-color: #061029;
  padding: 25px;
  width: 100%;
}

.navLinks {
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navLinks a {
  color: white;
  font-size: 1.1rem;
  text-decoration: none;
}

.hideLink {
  display: none;
}

.disableLink {
  pointer-events: none;
}

.logo {
  color: white;
  font-size: 1.5rem;
}

.cartDiv {
  position: relative;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.cartIcon {
  height: 40px;
  width: 40px;
  filter: brightness(0) invert(1);
}

.cartBadge {
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: rgb(42, 62, 189);
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 1.1rem;
  font-weight: bold;
}

@media screen and (max-width: 500px) {
  .logo {
    display: none;
  }
}
